---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>drengene_fra_angora</title>
	</head>
	<body>
		<h1>Drengene fra Angora</h1>
		<p>Drengene fra Angora er den bedste satire gruppe i Danmark</p>
		<img src="Rockerne.jpg" alt="">
	</body>
</html>
